body {
  margin: 0;
  padding: 0;
  font-family: Nunito, sans-serif;
  font-weight: 600;
  background-color: #f5f5f5;
}
#root {
  height: 100vh;
}
a {
  text-decoration: none;
}
.head {
  height: 50px;
  background-color: #E5E5E5;
  border-bottom: solid thin #CCC;
  line-height: 50px;
  padding: 0 20px;
}
.head .back {
  display: inline-block;
  vertical-align: top;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-left: -20px;
  background-image: url('../img/left.svg');
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}
.head .back:hover {
  background-color: #DDD;
}
.head .brand {
  color: #555;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
}
.head .title {
  display: inline-block;
  width: calc(100% - 60px);
  text-align: center;
  font: 300 24px Nunito;
  line-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}
.head .menu {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  float: right;
  margin-right: -20px;
}
.head .menubtn {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-image: url('../img/menu.svg');
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  transition-duration: .2s;
  cursor: pointer;
  user-select: none;
}
.head .menubtn:hover {
  background-color: #DDD;
}
.head .menulist {
  position: relative;
  z-index: 999;
  width: 200px;
  right: 160px;
  bottom: 10px;
  background-color: #F5F5F5;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  text-align: left;
  border-radius: 3px;
  overflow: hidden;
}
.head .menuitem {
  padding: 10px;
  color: #333;
  font: 400 16px Nunito;
  background-color: #F5F5F5;
  transition-duration: .2s;
  cursor: pointer;
  user-select: none;
}
.head .menuitem:hover {
  background-color: #EEE;
}
.head .done {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  width: 82px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 2px;
  background-color: #25a225;
  font-weight: 300;
  color: #EEE;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;
}
.head .done:hover {
  background-color: #28b328;
}
.head .done:active {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
}
/*-- HOME ----------------------------------------------------*/
.lists {
  margin: 25px 0;
}
.list {
  width: 170px;
  height: 250px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  border-radius: 4px;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5);
  background-color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  cursor: pointer;
}
.list .name {
  margin-top: 180px;
  font-size: 22px;
  font-weight: 300;
  max-height: 30px;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #EEE;
  background-color: rgba(0, 0, 0, 0.5);
}
.list .actions {
  float: right;
  line-height: 0;
  background-color: #FFF;
  margin-top: -5px;
  margin-right: 50%;
  transform: translateX(50%);
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.list .actions > div {
  display: inline-block;
  width: 30px;
  height: 26px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  overflow: hidden;
}
.list .actions > div:hover {
  filter: grayscale(0%);
}
.list .actions .edit {
  background-image: url('../img/edit.svg');
  border-right: solid thin transparent;
  margin-right: -1px;
}
.list .actions .delete {
  background-image: url('../img/delete.svg');
  border-left: solid thin #EEE;
  margin-left: -1px;
}
.list.add {
  background-color: #e0e0e0;
  box-shadow: inset 0 1px 6px 1px rgba(0, 0, 0, 0.2);
}
.list .add_icon {
  height: 100px;
  width: 100px;
  background-color: #e9e9e9;
  background-image: url('/img/plus.svg');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  margin: 70px auto;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
/*-- newList ----------------------------------------------------*/
#newList {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#newList .panel {
  background-color: #f5f5f5;
  padding: 50px;
  margin: 50px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
#newList .close {
  float: right;
  height: 2px;
  width: 2px;
  margin-top: -20px;
  line-height: 0;
  font-size: 40px;
  font-weight: 300;
  color: #666;
  border-radius: 40px;
  transition-duration: .2s;
  cursor: pointer;
  user-select: none;
  box-shadow: 10px 0 0 rgba(0, 0, 0, 0.1);
}
#newList .close:hover {
  color: #444;
  box-shadow: 11px 0 0 20px rgba(0, 0, 0, 0.06);
}
#newList .input {
  outline: none;
  font-family: Nunito;
}
#newList #listName {
  padding: 0;
  border: none;
  border-bottom: solid thin #CCC;
  font-size: 32px;
  background-color: transparent;
  margin: 30px 0;
}
#newList #listCover {
  margin-bottom: 30px;
}
#newList #listColumns {
  background-color: #fcfcfc;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 18px;
  border: solid thin transparent;
  border-radius: 5px;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}
#newList #createList {
  outline: none;
  border: solid 0px transparent;
  border-radius: 4px;
  height: 40px;
  width: 100px;
  background-image: linear-gradient(#f9b21f, #e9403a);
  color: white;
  font: 300 18px Nunito;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  margin-left: calc(100% - 100px);
  cursor: pointer;
  transition-duration: .2s;
}
#newList #createList:hover {
  filter: saturate(110%);
}
#newList #createList:active {
  position: relative;
  top: 1px;
  box-shadow: none !important;
}
/*--LIST ------------------------------------------------------*/
.items {
  margin: 20px 10px;
  border: solid thin #CCC;
  border-radius: 2px;
  overflow: hidden;
}
.item,
.titles {
  display: flex;
  background-color: #EEE;
  font-size: 0;
  color: #555;
  height: 50px;
  line-height: 50px;
  border-bottom: solid thin #DDD;
  cursor: default;
  transition-duration: .1s;
}
.item:hover,
.titles:hover {
  background-color: #EAEAEA;
}
.item .att,
.titles .att {
  display: inline-block;
  font-size: 15px;
  padding: 0 10px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}
.item .att:first-child,
.titles .att:first-child {
  flex: 2;
}
.item .action,
.titles .action {
  width: 80px;
  text-align: center;
  padding: 0;
  flex: none;
}
.item .edit,
.titles .edit,
.item .delete,
.titles .delete,
.item .save,
.titles .save,
.item .cancel,
.titles .cancel,
.item .add,
.titles .add {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  transition-duration: .3s;
  filter: grayscale(100%);
  cursor: pointer;
}
.item .edit:hover,
.titles .edit:hover,
.item .delete:hover,
.titles .delete:hover,
.item .save:hover,
.titles .save:hover,
.item .cancel:hover,
.titles .cancel:hover,
.item .add:hover,
.titles .add:hover {
  filter: grayscale(0%);
}
.item .edit,
.titles .edit {
  background-image: url('../img/edit.svg');
}
.item .delete,
.titles .delete {
  background-image: url('../img/remove.svg');
}
.item .save,
.titles .save {
  background-image: url('../img/check.svg');
}
.item .cancel,
.titles .cancel {
  background-image: url('../img/cancel.svg');
}
.item .add,
.titles .add {
  background-image: url('../img/add.svg');
  filter: grayscale(0%) !important;
}
.item.new,
.titles.new {
  padding: 0;
  background-color: #f5f5f5;
}
.item.new .action,
.titles.new .action {
  border-left: solid thin #DDD;
  margin-left: -1px;
}
.item.editing,
.titles.editing {
  background: #f5f5f5;
  box-shadow: 0 0 80px #0004;
  position: relative;
}
.item.editing > *,
.titles.editing > * {
  border-left: solid thin #DDD;
}
.item input.att,
.titles input.att {
  font-family: inherit;
  font-weight: 600;
  outline: none !important;
  text-align: left;
  height: 100%;
  background-color: #f5f5f5;
  border: none;
  border-left: solid thin #DDD;
}
.titles {
  padding: 0;
  background-color: #E7E7E7;
}
.titles:hover {
  background-color: #E7E7E7;
}
.titles > * {
  font-size: 16px;
  cursor: default;
  text-align: center;
  border-left: solid thin #DDD;
  color: #333;
}
.titles > *.action {
  margin-left: -1px;
}
[contenteditable="true"] {
  outline: none;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: initial !important;
}
[contenteditable="true"] br {
  display: none;
}
[contenteditable="true"] * {
  display: inline;
  white-space: nowrap;
}
